<ion-header >
  <ion-navbar >
    <ion-title style= "background-color: #FA8334">
      Segunda Mano
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="buscar()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding style= "background-color: #C7D6D5">
  <ion-grid>
    <ion-row>
      <ion-col *ngFor = "let mascota of mascotas" col-6>
        <ion-card (click) = "verMascota(mascota)">
          <img *ngIf="mascota.ad.hasOwnProperty('thumbnail')"
          src= "http://img.segundamano.mx/cover/{{mascota.ad.thumbnail.path}}">
          <img *ngIf="!mascota.ad.hasOwnProperty('thumbnail')"
          src= "../assets/imgs/logo.png">
          <ion-card-content>
            <h2 *ngIf = "mascota.ad.hasOwnProperty('subject')">
              {{mascota.ad.subject}}
            </h2>
            <p>
              {{mascota.ad.locations[0].locations[0].label}}, {{mascota.ad.locations[0].label}}
            </p>
            <h2 *ngIf = "mascota.ad.hasOwnProperty('list_price')">
              {{mascota.ad.list_price.label}}
            </h2>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
