<!--
  Generated template for the JuegosClickPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title style= "background-color: #253237">{{juego.ad.subject}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding style= "background-color: #698996">
<ion-card>
  <ion-slides pager>
    <ion-slide *ngFor="let img of imgs">
      <img src="http://img.segundamano.mx/medium/{{img.path}}">
    </ion-slide>
  </ion-slides>
</ion-card>
<ion-card>
  <ion-item>
    {{juego.ad.subject}}
    <ion-icon name="heart" item-end (click)="favoritos(juego)"></ion-icon>
  </ion-item>
  <ion-item>
    <h2 *ngIf = "juego.ad.hasOwnProperty('list_price')">
      {{juego.ad.list_price.label}}
    </h2>
    <ion-icon name = "share" item-end></ion-icon>
  </ion-item>
</ion-card>
<ion-card>
  <ion-item>
    <ion-avatar item-start>
      <img src="../assets/imgs/logo.png">
    </ion-avatar>
    <h2 *ngIf="juego.ad.hasOwnProperty('user')">
      {{juego.ad.user.account.name}}
    </h2>
    <p *ngIf="juego.ad.hasOwnProperty('user')">
      {{juego.ad.user.account.since}}
    </p>
  </ion-item>
</ion-card>
<ion-card>
  <ion-card-header>
    Características
  </ion-card-header>
  <ion-card-content>
    <h2>
      Ubicacion: {{juego.ad.locations[0].locations[0].locations[0].label}}, {{juego.ad.locations[0].locations[0].label}}, {{juego.ad.locations[0].label}}
    </h2>
    <h2 *ngIf="juego.ad.hasOwnProperty('list_time')">
      Publicado: {{juego.ad.list_time.label}}
    </h2>
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-header>
    Descripción
  </ion-card-header>
  <ion-card-content>
    <p>
      {{juego.ad.body}}
    </p>
  </ion-card-content>
</ion-card>
</ion-content>

